<a href="https://colab.research.google.com/github/elrrascabuches/Talleres-IA-aplicada-Manuel-Alarcon/blob/main/Practica_limpieza_MANUEL_ALEJANDRO_ALARC%C3%93N_MORALES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Inteligencia Artificial con Aplicaciones en Econom√≠a I**

- üë©‚Äçüè´ **Profesora:** [Lina Mar√≠a Castro](https://www.linkedin.com/in/lina-maria-castro)  
- üìß **Email:** [lmcastroco@gmail.com](mailto:lmcastroco@gmail.com)  
- üéì **Universidad:** Universidad Externado de Colombia - Facultad de Econom√≠a

# **Parte pr√°ctica parcial: Preparaci√≥n y limpieza de datos**üßπ

**IMPORTANTE**: Guarda una copia de este notebook en tu Google Drive o computador.

**Nombre estudiante:** MANUEL ALEJANDRO ALARC√ìN MORALES

**Forma de entrega**

Jupyter Notebook publicado en su cuenta de Github con el nombre ‚ÄúPractica_limpieza_nombre_apellido_estudiante.ipynb‚Äù. M√°ximo a las 9 a.m., debes enviar link del notebook al correo lina.castro6@uexternado.edu.co, de lo contrario, no ser√° tenido en cuenta.

**Instrucciones Generales**

- Puedes utilizar tus apuntes y notebooks y entrar al repositorio del curso. Sin embargo, **NO puedes utilizar IA para desarrollar tus respuestas**. **En caso de descubrir que est√°s usando IA** para el desarrollo de los ejercicios, **tu nota** de este segundo parcial **ser√° cero**.
- Completa el c√≥digo en las celdas marcadas con `### TU C√ìDIGO AQU√ç ###`. Puedes a√±adir m√°s celdas si lo requieres.
- Despu√©s de cada punto, ejecuta la celda de `assert` que se proporciona. Si no aparece ning√∫n error, ¬°tu respuesta es correcta!
- No modifiques las celdas de `assert` ni las celdas de Markdown.

**Objetivos de Aprendizaje**

1. **Aplicar t√©cnicas de importaci√≥n y consolidaci√≥n de m√∫ltiples fuentes de datos** utilizando la librer√≠a `pandas`.
2.  **Ejecutar un proceso completo de limpieza de datos**, incluyendo el manejo de valores nulos, duplicados y la estandarizaci√≥n de tipos de datos.
3.  **Preparar un conjunto de datos real (GEIH del DANE)** para un an√°lisis econ√≥mico, sentando las bases para futuros modelos de machine learning.

# Ejercicio 1: Importar y unir datos (20%)

El DANE publica los microdatos de la GEIH mensualmente. Tu primera tarea es cargar los datos de los primeros seis meses de 2025 y armar una sola base.

**Los archivos necesarios los encuentras en el repositorio del curso, carpeta "datasets", carpeta "geih_2025".**

1. Usa un ciclo "for" para abrir los archivos CSV, ten en cuenta que estas bases usan como separador ";" y encoding='latin1'. La variable 'DPTO' y 'RAMA4D_R4' debes cargarlas como string.

In [1]:
### TU C√ìDIGO AQU√ç ###
import numpy as np
import pandas as pd
import os
from google.colab import drive, files
drive.mount('/content/drive')
path = '/content/drive/MyDrive/geih_2025'
os.chdir(path)
os.listdir('/content/drive/MyDrive/geih_2025')

Mounted at /content/drive

['2025-01-14 DIVIPOLA.xlsx',
 '2025-01-14 Correlativa CIIU Rev4.xlsx',
 'df_feb.csv',
 'df_abr.csv',
 'df_may.csv',
 'df_mar.csv',
 'df_ene.csv',
 'df_jun.csv']

In [2]:
data_CSV=['df_feb.csv',
 'df_abr.csv',
 'df_mar.csv',
 'df_may.csv',
 'df_jun.csv',
 'df_ene.csv']
lista_dfs = []
for i in data_CSV:
  try:
      kl=pd.read_csv(i, sep=";", decimal='.', encoding ='latin1', converters={'DPTO':str, 'RAMA4D_R4':str})
      lista_dfs.append(kl)
  except Exception as e:
     print(f"Error leyendo {i}: {e}")

/tmp/ipython-input-4134372459.py:10: DtypeWarning: Columns (71,132,176,188,190,201) have mixed types. Specify dtype option on import or set low_memory=False.
  kl=pd.read_csv(i, sep=";", decimal='.', encoding ='latin1', converters={'DPTO':str, 'RAMA4D_R4':str})
/tmp/ipython-input-4134372459.py:10: DtypeWarning: Columns (71,132,176,188,190,201) have mixed types. Specify dtype option on import or set low_memory=False.
  kl=pd.read_csv(i, sep=";", decimal='.', encoding ='latin1', converters={'DPTO':str, 'RAMA4D_R4':str})
/tmp/ipython-input-4134372459.py:10: DtypeWarning: Columns (71,132,176,185,188,190,201) have mixed types. Specify dtype option on import or set low_memory=False.
  kl=pd.read_csv(i, sep=";", decimal='.', encoding ='latin1', converters={'DPTO':str, 'RAMA4D_R4':str})
/tmp/ipython-input-4134372459.py:10: DtypeWarning: Columns (71,132,176,188,190,201) have mixed types. Specify dtype option on import or set low_memory=False.
  kl=pd.read_csv(i, sep=";", decimal='.', encoding ='latin1', converters={'DPTO':str, 'RAMA4D_R4':str})
/tmp/ipython-input-4134372459.py:10: DtypeWarning: Columns (71,132,176,188,190,201) have mixed types. Specify dtype option on import or set low_memory=False.
  kl=pd.read_csv(i, sep=";", decimal='.', encoding ='latin1', converters={'DPTO':str, 'RAMA4D_R4':str})
/tmp/ipython-input-4134372459.py:10: DtypeWarning: Columns (71,132,176,185,190,201) have mixed types. Specify dtype option on import or set low_memory=False.
  kl=pd.read_csv(i, sep=";", decimal='.', encoding ='latin1', converters={'DPTO':str, 'RAMA4D_R4':str})

2. Une todos los dataframes para obtener una base de la GEIH con toda la informaci√≥n de enero a junio de 2025. El nuevo dataframe debe llamarse `df_geih`

In [3]:
df_geih = pd.concat(lista_dfs, axis = 0, ignore_index=True)

3. Reinicia el √≠ndice de `df_geih`. Aseg√∫rate de que el √≠ndice antiguo no se a√±ada como una nueva columna.

In [4]:
### TU C√ìDIGO AQU√ç ###
df_geih.reset_index
df_geih.columns

Index(['PERIODO', 'MES', 'PER', 'DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'HOGAR',
       'REGIS', 'AREA', 'CLASE',
       ...
       'P1881', 'P1881S1', 'P1882', 'P7240', 'P7240S1', 'OCI', 'INGLABO',
       'RAMA2D_R4', 'RAMA4D_R4', 'OFICIO_C8'],
      dtype='object', length=245)

In [5]:
# Celda de verificaci√≥n (no modificar)
assert df_geih.shape[0] == 408423, f"Error en las filas. Se esperaban 408423, pero se encontraron {df_geih.shape[0]}."
assert df_geih.shape[1] == 245, f"Error en las columnas. Se esperaban 245, pero se encontraron {df_geih.shape[1]}."
print("¬°Las dimensiones del DataFrame son correctas! ‚úÖ")
assert 'index' not in df_geih.columns, "El √≠ndice antiguo no debe ser una columna."
assert df_geih.index.is_unique, "El √≠ndice debe ser √∫nico despu√©s de reiniciarlo."
print(f"¬°Punto 1 completado con √©xito! ‚úÖ El DataFrame consolidado tiene {df_geih.shape[0]} filas y {df_geih.shape[1]} columnas.")

¬°Las dimensiones del DataFrame son correctas! ‚úÖ
¬°Punto 1 completado con √©xito! ‚úÖ El DataFrame consolidado tiene 408423 filas y 245 columnas.

# Ejercicio 2:  Seleccionar y renombrar columnas (5%)

La GEIH contiene cientos de variables. Para nuestro an√°lisis del mercado laboral, nos enfocaremos en un subconjunto.

Adicionalmente, los nombres de las columnas en la GEIH son c√≥digos. Para hacer el an√°lisis m√°s intuitivo, vamos a renombrarlas.

1. Crea un nuevo DataFrame llamado `df_empleo` que contenga √∫nicamente las columnas que est√°n en la lista `columnas_interes`.

In [6]:
columnas_interes = ['DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'MES', 'CLASE', 'DPTO', 'FEX_C18', 'PT', 'P3271', 'P6040', 'P6080', 'P3043', 'OCI', 'P6430', 'RAMA4D_R4', 'INGLABO']

In [7]:
### TU C√ìDIGO AQU√ç ###
df_empleo = df_geih[columnas_interes].copy()

In [8]:
# Celda de verificaci√≥n (no modificar)
assert len(df_empleo.columns) == 16, "El n√∫mero de columnas es incorrecto."
assert all(col in df_empleo.columns for col in columnas_interes), "Faltan columnas o los nombres son incorrectos."
print("¬°Selecci√≥n de columnas completada con √©xito! ‚úÖ")
print("Dimensiones del nuevo DataFrame:", df_empleo.shape)

¬°Selecci√≥n de columnas completada con √©xito! ‚úÖ
Dimensiones del nuevo DataFrame: (408423, 16)

2. Renombra las columnas del DataFrame `df_empleo` utilizando el diccionario `mapa_nombres`.

In [9]:
mapa_nombres = {
'DIRECTORIO': 'id_vivienda',
'SECUENCIA_P': 'id_hogar',
'ORDEN': 'id_persona',
'MES': 'mes',
'CLASE': 'clase',
'DPTO': 'departamento',
'FEX_C18': 'factor_expansion',
'PT': 'poblacion_total',
'P3271': 'sexo',
'P6040': 'edad',
'P6080': 'grupo_etnico',
'P3043': 'nivel_educativo',
'OCI': 'ocupados',
'P6430': 'categoria_ocupacional',
'RAMA4D_R4': 'cod_ciiu',
'INGLABO': 'ingreso_laboral'}

In [10]:
### TU C√ìDIGO AQU√ç ###
df_empleo = df_empleo.rename(columns=mapa_nombres)

In [11]:
# Celda de verificaci√≥n (no modificar)
nombres_nuevos_esperados = list(mapa_nombres.values())
condicion_exitosa = all(col in df_empleo.columns for col in nombres_nuevos_esperados)
assert condicion_exitosa, "No todas las columnas esperadas se encuentran en el DataFrame. Revisa el diccionario o la operaci√≥n de renombrado."
print("¬°Verificaci√≥n exitosa! Todas las columnas fueron renombradas correctamente. ‚úÖ")
print("¬°Punto 2 completado con √©xito! ‚úÖ")

¬°Verificaci√≥n exitosa! Todas las columnas fueron renombradas correctamente. ‚úÖ
¬°Punto 2 completado con √©xito! ‚úÖ

# Ejercicio 3: Revisi√≥n de duplicados (5%)

Un paso crucial en la limpieza es asegurar que no haya observaciones duplicadas que puedan sesgar nuestro an√°lisis.

1. Verifica si hay filas duplicadas en `df_empleo`.

In [12]:
### TU C√ìDIGO AQU√ç ###
if df_empleo.duplicated().sum() >0:
  print("hay filas repetidas")
else:
  print( "no hay filas repetidas")

no hay filas repetidas

2. Cuenta cu√°ntas filas duplicadas existen.

In [13]:
### TU C√ìDIGO AQU√ç ###
df_empleo.duplicated().sum()

np.int64(0)

3. Elimina las filas duplicadas, si las hay.

In [14]:
### TU C√ìDIGO AQU√ç ###
df_empleo.drop_duplicates(keep='first', inplace=True)
print(f"no hay que eliminar filas porque no hay duplicadas, pero si las hubiera se deber√≠a usar:df_empleo.drop_duplicates(keep='first', inplace=True)")

no hay que eliminar filas porque no hay duplicadas, pero si las hubiera se deber√≠a usar:df_empleo.drop_duplicates(keep='first', inplace=True)

4. Verifica si hay filas duplicadas espec√≠ficamente en las columnas 'id_vivienda', 'id_hogar', 'id_persona'.

In [15]:
### TU C√ìDIGO AQU√ç ###
#df_empleo[df_empleo.duplicated(subset=['id_vivienda', 'id_hogar', 'id_persona'], keep=False)]
df_empleo.duplicated(subset=['id_vivienda', 'id_hogar', 'id_persona']).sum()

np.int64(0)

In [16]:
# Celda de verificaci√≥n (no modificar)
assert df_empleo.duplicated().sum() == 0, "A√∫n existen filas duplicadas."
print("¬°Punto 3 completado con √©xito! ‚úÖ")

¬°Punto 3 completado con √©xito! ‚úÖ

# Ejercicio 4: Valores faltantes (5%)

Los datos del mundo real raramente est√°n completos. Aqu√≠, trataremos los valores faltantes en la columna de ingresos.

1. Calcula el n√∫mero de valores nulos (`NaN`) en la columna `ingreso_laboral` **antes** de cualquier modificaci√≥n.

In [17]:
### TU C√ìDIGO AQU√ç ###
df_empleo['ingreso_laboral'].isna().sum()

np.int64(236576)

2. En la GEIH, un ingreso faltante a menudo significa que la persona no report√≥ ingresos o no aplica (ej. no trabaja). Una estrategia com√∫n es imputar estos valores con `0`. Rellena los valores `NaN` en la columna `ingreso_laboral` con `0`.

In [18]:
### TU C√ìDIGO AQU√ç ###
df_empleo['ingreso_laboral'] = df_empleo['ingreso_laboral'].fillna(0)

In [19]:
# Celda de verificaci√≥n (no modificar)
assert df_empleo['ingreso_laboral'].isnull().sum() == 0, "La columna 'ingreso_laboral' todav√≠a tiene valores nulos."
print("¬°Punto 4 completado con √©xito! ‚úÖ")

¬°Punto 4 completado con √©xito! ‚úÖ

# Ejercicio 5: Decodificar variables (20%)

Las variables categ√≥ricas a menudo necesitan ser "traducidas" para hacerlas m√°s entendibles para el an√°lisis.

1. Usa los siguientes diccionarios para reemplazar los c√≥digos num√©ricos por etiquetas de texto en las siguientes columnas: 'clase', 'sexo', 'grupo_etnico', 'nivel_educativo' y 'categoria_ocupacional'. Muestra los conteos de las nuevas categor√≠as usando `.value_counts()` para verificar el cambio en cada una de las columnas.

In [20]:
dic_clase = {1: 'Cabeceras', 2: 'Centros poblados y rural disperso'}
dic_sexo = {1: 'Hombre', 2: 'Mujer'}
dic_etnico = {1: 'Ind√≠gena', 2: 'Gitano (Rom)', 3: 'Raizal del archipi√©lago', 4: 'Palenquero',
              5: 'Negro, mulato (afrodescendiente)', 6: 'Ninguno de los anteriores'}
dic_nivel_educativo = {1: 'Ninguno', 2: 'Educaci√≥n media', 3: 'Educaci√≥n media',
                       4: 'Educaci√≥n media', 5: 'T√©cnica profesional', 6: 'Tecnol√≥gica',
                       7: 'Universitaria', 8: 'Especializaci√≥n', 9: 'Maestr√≠a',
                       10: 'Doctorado', 99: 'No sabe, no informa'}
dic_cat_ocu = {1: 'Asalariado', 2: 'Asalariado', 3: 'Asalariado',
               8: 'Asalariado', 4: 'Independiente', 5: 'Independiente',
               9: 'Independiente', 6: 'Trabajador sin remuneraci√≥n',
               7: 'Trabajador sin remuneraci√≥n'}

In [21]:
### TU C√ìDIGO AQU√ç ###
diccionarios= [dic_clase, dic_sexo, dic_etnico , dic_nivel_educativo,dic_cat_ocu]
columnitas=['clase', 'sexo', 'grupo_etnico', 'nivel_educativo','categoria_ocupacional']
for columna, diccionario in zip(columnitas, diccionarios):
    # Usamos el m√©todo .map() dentro del bucle
    df_empleo[columna] = df_empleo[columna].map(diccionario)
    print(f"Columna '{columna}' modificada correctamente.")

Columna 'clase' modificada correctamente.
Columna 'sexo' modificada correctamente.
Columna 'grupo_etnico' modificada correctamente.
Columna 'nivel_educativo' modificada correctamente.
Columna 'categoria_ocupacional' modificada correctamente.

In [22]:
# Celda de verificaci√≥n (no modificar)
mapeos_a_verificar = {
    'clase': dic_clase,
    'sexo': dic_sexo,
    'grupo_etnico': dic_etnico,
    'nivel_educativo': dic_nivel_educativo,
    'categoria_ocupacional': dic_cat_ocu
}
for columna, diccionario in mapeos_a_verificar.items():
    es_numerica = pd.api.types.is_numeric_dtype(df_empleo[columna])
    assert not es_numerica, f"La columna '{columna}' todav√≠a tiene un tipo de dato num√©rico. El reemplazo fall√≥."
    valor_texto_ejemplo = list(diccionario.values())[0]
    categorias_unicas = df_empleo[columna].unique()
    assert valor_texto_ejemplo in categorias_unicas, f"No se encontr√≥ el valor '{valor_texto_ejemplo}' en la columna '{columna}'."
    valor_numerico_ejemplo = list(diccionario.keys())[0]
    assert valor_numerico_ejemplo not in categorias_unicas, f"El c√≥digo num√©rico '{valor_numerico_ejemplo}' todav√≠a existe en la columna '{columna}'."
print("¬°Verificaci√≥n completada con √©xito! ‚úÖ Todas las columnas categ√≥ricas fueron transformadas correctamente.")

¬°Verificaci√≥n completada con √©xito! ‚úÖ Todas las columnas categ√≥ricas fueron transformadas correctamente.

2. Utiliza el archivo "2025-01-14 Correlativa CIIU Rev4.xlsx", hoja 'CIIU 2022', para agregar al df_empleo las descripciones de los c√≥digos CIIU a 4 d√≠gitos. En df_empleo la columna con los c√≥digos CIIU se llama 'cod_ciiu'. Si se agregan nuevas columnas al dataframe, distintas a la descripci√≥n del CIIU, debes borrarlas.

In [23]:
### TU C√ìDIGO AQU√ç ###
correlativa=pd.read_excel("2025-01-14 Correlativa CIIU Rev4.xlsx", sheet_name='CIIU 2022', converters={'RAMA4D_R4':str})
df_empleo = pd.merge(df_empleo, correlativa, left_on='cod_ciiu', right_on='RAMA4D_R4', how='left')
df_empleo.drop(columns=['RAMA4D_R4'], inplace=True)

In [24]:
# Celda de verificaci√≥n (no modificar)
assert 'DESCRIPCION_CIIU' in df_empleo.columns, \
    f"La columna '{'DESCRIPCION_CIIU'}' no se encontr√≥. Revisa el nombre que le diste a la nueva columna."
assert df_empleo['DESCRIPCION_CIIU'].notna().sum() > 0, \
    f"La columna '{'DESCRIPCION_CIIU'}' est√° completamente vac√≠a. Verifica las llaves del merge."
print("‚úÖ Verificaci√≥n del merge exitosa.")

‚úÖ Verificaci√≥n del merge exitosa.

3. Utiliza el archivo "2025-01-14 Divipola.xlsx", hoja 'Departamentos', para agregar al df_empleo los nombres de los departamentos. En df_empleo la columna con los c√≥digos Divipola de los departamentos se llama 'departamento'. Si se agregan nuevas columnas al dataframe, distintas al nombre del departamento, debes borrarlas.

In [25]:
### TU C√ìDIGO AQU√ç ###
divipola=pd.read_excel("2025-01-14 DIVIPOLA.xlsx", sheet_name='Departamentos', skiprows=9, converters={'C√≥digo':str})
df_empleo['departamento']=df_empleo['departamento'].astype(str)
df_empleo = pd.merge(df_empleo, divipola, left_on='departamento', right_on='C√≥digo', how='left')

In [26]:
# Elimina 'C√≥digo'
df_empleo.drop(columns=['C√≥digo'], inplace=True)

In [27]:
df_empleo.head()

,id_vivienda,id_hogar,id_persona,mes,clase,departamento,factor_expansion,poblacion_total,sexo,edad,grupo_etnico,nivel_educativo,ocupados,categoria_ocupacional,cod_ciiu,ingreso_laboral,DESCRIPCION_CIIU,Nombre
0,8115690,1,1,2,Centros poblados y rural disperso,68,365.817359,1,Hombre,77,Ninguno de los anteriores,NaN,NaN,NaN,,0.0,NaN,SANTANDER
1,8115690,1,2,2,Centros poblados y rural disperso,68,365.817359,1,Mujer,74,Ninguno de los anteriores,NaN,NaN,NaN,,0.0,NaN,SANTANDER
2,8115691,1,1,2,Centros poblados y rural disperso,68,988.114227,1,Mujer,36,Ninguno de los anteriores,T√©cnica profesional,NaN,NaN,,0.0,NaN,SANTANDER
3,8115691,1,2,2,Centros poblados y rural disperso,68,988.114227,1,Hombre,40,Ninguno de los anteriores,T√©cnica profesional,1.0,Asalariado,9491,1600000.0,Actividades de asociaciones religiosas,SANTANDER
4,8115691,1,3,2,Centros poblados y rural disperso,68,988.114227,1,Hombre,11,Ninguno de los anteriores,NaN,NaN,NaN,,0.0,NaN,SANTANDER

In [28]:
# Celda de verificaci√≥n (no modificar)
assert 'Nombre' in df_empleo.columns, \
    f"La columna '{'Nombre'}' no se encontr√≥. Revisa el nombre que le diste a la nueva columna."
assert df_empleo['Nombre'].notna().sum() > 0, \
    f"La columna '{'Nombre'}' est√° completamente vac√≠a. Verifica las llaves del merge."
print("‚úÖ Verificaci√≥n del merge exitosa.")
assert df_empleo.shape[0] == 408423, f"Error en las filas. Se esperaban 408423, pero se encontraron {df_empleo.shape[0]}."
assert df_empleo.shape[1] == 18, f"Error en las columnas. Se esperaban 18, pero se encontraron {df_empleo.shape[1]}."
print("¬°Las dimensiones del DataFrame son correctas! ‚úÖ")
print("\n¬°Punto 5 completado con √©xito! ‚úÖ")

‚úÖ Verificaci√≥n del merge exitosa.
¬°Las dimensiones del DataFrame son correctas! ‚úÖ

¬°Punto 5 completado con √©xito! ‚úÖ

# Ejercicio 6: Crear nuevas variables y reorganizar columnas (10%)

La GEIH cuenta con un factor de expansi√≥n que permite extrapolar los datos de los encuestados a totales para la poblaci√≥n colombiana. Usar este factor de expansi√≥n, permite calcular la poblaci√≥n total del pa√≠s, la poblaci√≥n en edad de trabajar, el n√∫mero de ocupados, el n√∫mero de desempleados, entre otros datos.

1. Crea una nueva columna llamada "fex", la cual corresponder√° a la columna 'factor_expansion' dividida en 6 (se divide en 6, ya que estamos tomando el dato de 6 meses).

In [29]:
### TU C√ìDIGO AQU√ç ###
# Haces la divisi√≥n directamente, forzando la conversi√≥n dentro de la operaci√≥n:
df_empleo['fex'] = df_empleo['factor_expansion'].astype(float) / 6

2. Crea una nueva columna llamada 'poblacion_total_ex', la cual corresponder√° a la columna 'poblacion_total' multiplicada por la columna 'fex'.

In [30]:
### TU C√ìDIGO AQU√ç ###
df_empleo['poblacion_total_ex']=df_empleo['poblacion_total'].astype(float)*df_empleo['fex']

3. Crea una nueva columna llamada 'ocupados_ex', la cual corresponder√° a la columna 'ocupados' multiplicada por la columna 'fex'.

In [31]:
### TU C√ìDIGO AQU√ç ###
df_empleo['ocupados_ex']=df_empleo['ocupados'].astype(float)*df_empleo['fex']

4. Crea una nueva columna llamada 'joven', la cual debe decir 'Poblaci√≥n joven' si la persona encuestada tiene entre 15 y 28 a√±os (15 y 28 incluidos). De lo contrario, debe decir 'Resto de poblaci√≥n'.

In [32]:
### TU C√ìDIGO AQU√ç ###
df_empleo['edad'] = df_empleo['edad'].astype(int)


condicion_joven = (df_empleo['edad'] >= 15) & (df_empleo['edad'] <= 28)
df_empleo['joven'] = np.where(
    condicion_joven, 'Poblaci√≥n joven','Resto de poblaci√≥n' )

5. Reorganiza las columnas con el siguiente orden: 'id_vivienda', 'id_hogar', 'id_persona', 'mes', 'clase', 'departamento', 'Nombre', 'factor_expansion', 'fex', 'poblacion_total', 'poblacion_total_ex', 'sexo', 'edad', 'joven', 'grupo_etnico', 'nivel_educativo', 'ocupados', 'ocupados_ex', 'categoria_ocupacional', 'cod_ciiu', 'DESCRIPCION_CIIU', 'ingreso_laboral'

In [33]:
### TU C√ìDIGO AQU√ç ###
df_empleo = df_empleo[['id_vivienda', 'id_hogar', 'id_persona', 'mes', 'clase', 'departamento', 'Nombre', 'factor_expansion', 'fex', 'poblacion_total', 'poblacion_total_ex', 'sexo', 'edad', 'joven', 'grupo_etnico', 'nivel_educativo', 'ocupados', 'ocupados_ex', 'categoria_ocupacional', 'cod_ciiu', 'DESCRIPCION_CIIU', 'ingreso_laboral']]

In [34]:
# Celda de verificaci√≥n (no modificar)
orden_esperado = [
    'id_vivienda', 'id_hogar', 'id_persona', 'mes', 'clase',
    'departamento', 'Nombre', 'factor_expansion', 'fex',
    'poblacion_total', 'poblacion_total_ex', 'sexo', 'edad', 'joven',
    'grupo_etnico', 'nivel_educativo', 'ocupados', 'ocupados_ex',
    'categoria_ocupacional', 'cod_ciiu', 'DESCRIPCION_CIIU', 'ingreso_laboral'
]
orden_actual = df_empleo.columns.tolist()
assert orden_actual == orden_esperado, \
    f"""El orden de las columnas es incorrecto.
    - Orden Esperado: {orden_esperado}
    - Orden Encontrado: {orden_actual}"""
assert df_empleo.shape[0] == 408423, f"Error en las filas. Se esperaban 408423, pero se encontraron {df_empleo.shape[0]}."
assert df_empleo.shape[1] == 22, f"Error en las columnas. Se esperaban 22, pero se encontraron {df_empleo.shape[1]}."
print("¬°Las dimensiones del DataFrame son correctas! ‚úÖ")
print("\n¬°Punto 6 completado con √©xito! ‚úÖ")

¬°Las dimensiones del DataFrame son correctas! ‚úÖ

¬°Punto 6 completado con √©xito! ‚úÖ

# Ejercicio 7: Cambiar tipo de dato (5%)

Para realizar c√°lculos y an√°lisis correctamente, las columnas deben tener el tipo de dato adecuado (num√©rico, categ√≥rico, etc.).

1.  Muestra en pantalla los tipos de datos actuales de `df_empleo`.

In [35]:
### TU C√ìDIGO AQU√ç ###
df_empleo.dtypes

id_vivienda                int64
id_hogar                   int64
id_persona                 int64
mes                        int64
clase                     object
departamento              object
Nombre                    object
factor_expansion         float64
fex                      float64
poblacion_total            int64
poblacion_total_ex       float64
sexo                      object
edad                       int64
joven                     object
grupo_etnico              object
nivel_educativo           object
ocupados                 float64
ocupados_ex              float64
categoria_ocupacional     object
cod_ciiu                  object
DESCRIPCION_CIIU          object
ingreso_laboral          float64
dtype: object

2.  Las siguientes columnas representan categor√≠as: 'clase', 'departamento', 'Nombre', 'sexo', 'joven', 'grupo_etnico', 'nivel_educativo', 'categoria_ocupacional', 'cod_ciiu', 'DESCRIPCION_CIIU'. Convi√©rtelas al tipo `category` para optimizar el uso de memoria y facilitar an√°lisis futuros.

In [36]:
### TU C√ìDIGO AQU√ç ###
# Convierte la columna 'sexo' a tipo category
columnas_categoricas=['clase', 'departamento', 'Nombre', 'sexo', 'joven', 'grupo_etnico', 'nivel_educativo', 'categoria_ocupacional', 'cod_ciiu', 'DESCRIPCION_CIIU']

for i in columnas_categoricas:

    df_empleo[i] = df_empleo[i].astype('category')

In [37]:
# Celda de verificaci√≥n (no modificar)
columnas_categoricas_esperadas = [
    'clase', 'departamento', 'Nombre', 'sexo', 'joven', 'grupo_etnico',
    'nivel_educativo', 'categoria_ocupacional', 'cod_ciiu',
    'DESCRIPCION_CIIU'
]
for columna in columnas_categoricas_esperadas:
    assert columna in df_empleo.columns, \
        f"La columna '{columna}' no fue encontrada en el DataFrame."
    es_categoria = pd.api.types.is_categorical_dtype(df_empleo[columna])
    assert es_categoria, \
        f"La columna '{columna}' no fue convertida al tipo 'category'. Su tipo actual es {df_empleo[columna].dtype}."
print("¬°Verificaci√≥n completada con √©xito! ‚úÖ Todas las columnas especificadas son del tipo 'category'.")
print("\n¬°Punto 7 completado con √©xito! ‚úÖ")

¬°Verificaci√≥n completada con √©xito! ‚úÖ Todas las columnas especificadas son del tipo 'category'.

¬°Punto 7 completado con √©xito! ‚úÖ

/tmp/ipython-input-416816491.py:10: DeprecationWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, pd.CategoricalDtype) instead
  es_categoria = pd.api.types.is_categorical_dtype(df_empleo[columna])

# Ejercicio 8: Ordenar el dataframe (5%)

1. Ordena el dataframe por la columna "edad" de mayor a menor. Observa la columna 'edad' y escribe en una celda de markdown cu√°l fue la edad m√≠nima y la edad m√°xima de las personas que respondieron la encuesta de la GEIH.

In [38]:
### TU C√ìDIGO AQU√ç ###
df_empleo.sort_values('edad', ascending=False, inplace=True)

Escribe tu an√°lisis aqu√≠:
la edad m√°xima fu√© de **106** a√±os y la m√°s pequela fu√© de **0** a√±os, lo cual tiene sentido porque el DANE en su metolod√≠a pregunta por los a√±os cumplidos y no la edad en d√≠as y/o meses.

In [39]:
# Celda de verificaci√≥n (no modificar)
es_descendiente = df_empleo['edad'].is_monotonic_decreasing
assert es_descendiente, "La columna 'edad' no est√° ordenada correctamente de mayor a menor."
print("\n¬°Punto 8 completado con √©xito! ‚úÖ")

¬°Punto 8 completado con √©xito! ‚úÖ

# Ejercicio 9: Groupby (20%)

Agrupar los datos por categor√≠as, nos permite realizar an√°lisis m√°s profundos y obtener insights valiosos, que a simple vista no vemos en la base de datos.

1. Crea un nuevo dataframe llamado "df_sexo" donde se agrupe por 'sexo' y se calcule la suma de las columnas 'poblacion_total_ex' y 'ocupados_ex'. Crea una nueva columna que se llame 'porcentaje_ocupados' donde dividas las columna 'ocupados_ex' sobre 'poblacion_total_ex'. Al final usa reset_index() para convertir las categor√≠as de sexo en una columna.

In [40]:
### TU C√ìDIGO AQU√ç ###
df_sexo=df_empleo.groupby('sexo')[['poblacion_total_ex', 'ocupados_ex']].sum()
df_sexo['porcentaje_ocupados']=df_sexo['ocupados_ex']/df_sexo['poblacion_total_ex']
df_sexo = df_sexo.reset_index()

/tmp/ipython-input-2247708447.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_sexo=df_empleo.groupby('sexo')[['poblacion_total_ex', 'ocupados_ex']].sum()

In [41]:
# Celda de verificaci√≥n (no modificar)
import numpy as np
dimensiones_esperadas = (2, 4)
assert df_sexo.shape == dimensiones_esperadas, \
    f"Las dimensiones son incorrectas. Se esperaba {dimensiones_esperadas}, pero se encontr√≥ {df_sexo.shape}. ¬øAplicaste .reset_index()?"
assert 'sexo' in df_sexo.columns, \
    "La columna 'sexo' no se encontr√≥. ¬øOlvidaste usar .reset_index() al final?"
assert not isinstance(df_sexo.index, pd.Index) or df_sexo.index.name != 'sexo', \
    "El √≠ndice del DataFrame sigue siendo 'sexo'. Aseg√∫rate de haber aplicado .reset_index()."
print("¬°Verificaci√≥n completada con √©xito! ‚úÖ")

¬°Verificaci√≥n completada con √©xito! ‚úÖ

2. Crea un nuevo dataframe llamado "df_educacion" donde se agrupe por 'nivel_educativo' y se calcule la suma de las columnas 'poblacion_total_ex' y 'ocupados_ex'. Crea una nueva columna que se llame 'porcentaje_ocupados' donde dividas las columna 'ocupados_ex' sobre 'poblacion_total_ex'. Al final usa reset_index() para convertir las categor√≠as de nivel educativo en una columna.

In [42]:
### TU C√ìDIGO AQU√ç ###
df_educacion=df_empleo.groupby('nivel_educativo')[['poblacion_total_ex','ocupados_ex']].sum()
df_educacion['porcentaje_ocupados']=df_educacion['ocupados_ex']/df_educacion['poblacion_total_ex']
df_educacion=df_educacion.reset_index()

/tmp/ipython-input-3430897162.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_educacion=df_empleo.groupby('nivel_educativo')[['poblacion_total_ex','ocupados_ex']].sum()

In [43]:
# --- Celda de Verificaci√≥n (No modificar) ---
import numpy as np
n_niveles_educativos = df_empleo['nivel_educativo'].nunique()
dimensiones_esperadas = (n_niveles_educativos, 4)
assert df_educacion.shape == dimensiones_esperadas, \
    f"Las dimensiones son incorrectas. Se esperaba {dimensiones_esperadas} (filas, columnas), pero se encontr√≥ {df_educacion.shape}."
columnas_esperadas = {'nivel_educativo', 'poblacion_total_ex', 'ocupados_ex', 'porcentaje_ocupados'}
assert set(df_educacion.columns) == columnas_esperadas, \
    f"Los nombres de las columnas no son correctos. Se esperaban {columnas_esperadas}."
assert 'nivel_educativo' in df_educacion.columns, \
    "La columna 'nivel_educativo' no se encontr√≥. ¬øOlvidaste usar .reset_index() al final?"
print("¬°Verificaci√≥n completada con √©xito! ‚úÖ")

¬°Verificaci√≥n completada con √©xito! ‚úÖ

In [44]:
df_sexo.head()

     sexo  poblacion_total_ex   ocupados_ex  porcentaje_ocupados
0  Hombre        2.525511e+07  1.379736e+07             0.546320
1   Mujer        2.668224e+07  9.707732e+06             0.363827

3. En una celda de Markdown escribe qu√© conclusiones puedes sacar de la informaci√≥n obtenida en df_sexo y df_educacion.

 an√°lisis 1: de acuerdo a los datos se puede evidenciar una brecha de genero en el mercaod laboral, dado que el % de mujeres que a la semana trabajaron al menos una hora dentro del total de la poblaci√≥n femenina es menor en un 19% al porcentaje de hombres ocupados. ello indicar√≠a que hay necesidad de una politica p√∫blica que cierre estas brechas dado que la mayor√≠a de la poblaci√≥n en el pais es femenina y participa mucho menos en el mercado.

In [45]:
df_educacion

       nivel_educativo  poblacion_total_ex   ocupados_ex  porcentaje_ocupados
0            Doctorado        4.664918e+04  3.995047e+04             0.856402
1      Educaci√≥n media        1.432753e+07  8.605758e+06             0.600645
2      Especializaci√≥n        9.652363e+05  7.777595e+05             0.805771
3             Maestr√≠a        4.486660e+05  3.869646e+05             0.862478
4              Ninguno        1.710908e+06  3.487339e+05             0.203830
5  No sabe, no informa        9.477569e+01  3.760248e+01             0.396752
6          Tecnol√≥gica        1.392853e+06  1.040970e+06             0.747365
7  T√©cnica profesional        2.781981e+06  1.953369e+06             0.702150
8        Universitaria        3.731910e+06  2.759725e+06             0.739494

an√°lisis 2:podr√≠a interpretarse que hay grandes necesidades en materia de educaci√≥n en el pais porque en terminos sociales hay un 40% de la poblaci√≥n con educaci√≥n media sin trabajo al rededor de 573101002 personas desocupadas, mientras que niveles como la universidad, o la tecnol√≥gica que adem√°s siendo una poblaci√≥n menor tienen m√°s % de ocupaci√≥n, es decir, hay una concentraci√≥n de mano de obra no calificada en la educaci√≥n media que no logra econtrar trabajo mientras hay mayres oportunidades al tener un nivel educativo m√°s alto y un mercado menos saturado. Ello es un indicador de a d√≥nde debe ir la pol√≠tica p√∫blica.

In [46]:
# Celda de verificaci√≥n (no modificar)
print("\n¬°Punto 9 completado con √©xito! ‚úÖ")

¬°Punto 9 completado con √©xito! ‚úÖ

# Ejercicio 10: Exportar datos (5%)

Muchas veces requerimos exportar los resultados de nuestros an√°lisis a Excel para compartir la informaci√≥n con otras personas.

Exporta los dataframes df_sexo y df_educacion a un Excel llamado 'Analisis_ocupados.xlsx'. Cada dataframe debe quedar en una hoja diferente. La hoja de 'df_sexo' se debe llamar 'sexo' y la hoja de 'df_educacion' se debe llamar 'educacion'.

In [57]:
### TU C√ìDIGO AQU√ç ###
with pd.ExcelWriter('/content/drive/MyDrive/geih_2025/Analisis_ocupados.xlsx') as writer:
    df_sexo.to_excel(writer, sheet_name='sexo', index=False)
    df_educacion.to_excel(writer, sheet_name='educacion', index=False)

In [58]:
# Celda de verificaci√≥n (no modificar)
import os
import pandas as pd
nombre_archivo = 'Analisis_ocupados.xlsx'
assert os.path.exists(nombre_archivo), \
    f"No se encontr√≥ el archivo '{nombre_archivo}'. ¬øLo exportaste con el nombre correcto?"
try:
    xls = pd.ExcelFile(nombre_archivo)
    nombres_hojas_encontrados = xls.sheet_names
    nombres_hojas_esperados = ['sexo', 'educacion']
    assert set(nombres_hojas_encontrados) == set(nombres_hojas_esperados), \
        f"Los nombres de las hojas no son correctos. Se esperaban {nombres_hojas_esperados} pero se encontraron {nombres_hojas_encontrados}."
    print("¬°Verificaci√≥n completada con √©xito! ‚úÖ")
except Exception as e:
    print(f"Ocurri√≥ un error al verificar el archivo: {e}")
print("\n¬°Punto 10 completado con √©xito! ‚úÖ")

¬°Verificaci√≥n completada con √©xito! ‚úÖ

¬°Punto 10 completado con √©xito! ‚úÖ